<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      We are a renewable engergy company provding industry leading solar panels
      and solar equipment around the world.
    </p>
    <br />
    <br />
    <p><a href="/">Back to home page</a></p>
  </body>
</html>
