<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Contact us at our business phone: 324-223-1311</p>
    <p>Or send us an email at: <a href="">support@solarity.com</a></p>
    <br />
    <br />
    <p><a href="/">Back to home page</a></p>
  </body>
</html>
