<div class="container error-bg">
    <div class="row">
        <div class="col-12 align-self-center">
            <div class="text-center">
                <h1 class="mb-5 _404 bold">404</h1>
                <h2 class="errorH1">Sorry the page you were looking for ended up where the sun don't shine.</h2>
                <h3 class="errorH2 mt-5">Don't worry, you can find solar info on our <a href="/product">products
                        page</a>.</h3>
                <h3 class="errorH3 mt-3">If not please check back later or send us an email and we can help you find
                    what you are looking
                    for.</h3>
            </div>
        </div>
    </div>
</div>

<!-- console.log("Message: ", message)
console.log("Error Status:", error.status)
console.log("Error Stack:", error.stack) -->