
<!-- Footer -->
<footer class="bg-dark text-center text-white footer mt-auto">
  <!-- Grid container -->
  <div class="container-fluid p-4">
    

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row justify-content-center">
        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
          <h5 class="text-uppercase">Company</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/about" class="text-white">About Us</a>
            </li>
            <li>
              <a href="/contact" class="text-white">Contact Us</a>
            </li>
            <!-- <li>
              <a href="#!" class="text-white">Careers</a>
            </li> -->
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
          <h5 class="text-uppercase">Support</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/privacy" class="text-white">Privacy Policy</a>
            </li>
            <li>
              <a href="/help" class="text-white">Help</a>
            </li>
            <!-- <li>
              <a href="#!" class="text-white">Shipping Policy</a>
            </li> -->
          </ul>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Solarity 2022&copy
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->