<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="container-fluid">
    <div class="row mt-4 ms-4">
      <div class="col-lg-6">
        <h1>
          Help
        </h1>
        <p>Contact us at our business phone: 324-223-1311</p>
        <p>Or send us an email at: <a href="">support@solarity.com</a></p>
      </div>
    </div>
  </div>
</body>

</html>