<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      We are here to help you with all your solar needs. <br />
      To learn more about us <a href="/about">click here</a>. If you have any
      questions, please <a href="/contact">click here</a> to contact us.
    </p>
  </body>
</html>
