<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row mt-4 ms-4">
        <h1 class="privacy-header">Privacy Policy</h1>
        <div class="col-lg-6 mt-4">
          We store all customer data in safely and have very strict privacy protection policies. <br>
          Please email us or call us if you want more information on how we protect your data.
        </div>
      </div>
    </div>
  </body>
</html>
