<h1>New Record</h1>
<form action="/category" method="post">
  <table>
    <tr>
      <td>Category Name:</td>
      <td><input type="text" name="categoryname" required /></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" name="description" required /></td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>
