<h1> Details </h1>
    <table>
        <tr> <td> Category ID: </td> <td> <%= onerec.category_id %> </td> </tr>
        <tr> <td> Category Name: </td> <td> <%= onerec.categoryname %> </td> </tr>
        <tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
    </table>