html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  left: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffffff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

product{
  margin: 5px;
  border: 2px solid #000000;
  float: left;
  box-shadow: 0px 0px 6px #666666;
  min-width: 200px;
  max-width: 200px;
  min-height: 250px;
  max-height: 250px;
  padding: 10px;
}

.banner-container{
  position: relative;
  text-align: center;
  color: white;
}

.homepage-banner{
  height: auto;
  width: 100%;
}


.banner-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ececec;
  font-size: 5vw;
  font-weight: bold;
  
}

.sub-banner{
  border: #3ac793 solid 5px;
  height: 9.5rem;
  width: 50rem;
  background-color: #3ac793;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
}


.about-row{
  background-color: #04aa6d;
}

.about-banner{
text-align: center;
}

.pageHeader{
  text-align: center;
  font-size: 3rem;
  color: rgb(34, 37, 41);
  font-weight: bolder;
  text-shadow: #0000005b 0px 0px 10px;
}

.promoImage{
  width : 270px;
  height : 270px;
}

/* .header{
  background-color: #F28482;
} */

/* All records table */
/* ----------------- */
/* ----------------- */
.allData {
  border-bottom: solid #000000 3px;
}

th{
  background-color: #3ac793;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.leftPadTable{
  padding-left: 12px;
}

.tableCell{
  padding-left: 4px;
  padding-right: 4px;
  border-left: #000000 2px solid;
  border-right: #000000 2px solid;
  border-bottom: #000000 1px solid;
}

.thr{
  border-bottom: #000000 2px solid;
}

.topborder{
  border-top: #000000 2px solid;
}

/* End All Records Table */
/* --------------------- */
/* --------------------- */


/* Start Navbar Styles */
/*  */
/* Start Navbar Styles */

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(51, 51, 51, 0.452);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(59, 59, 59);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* End Navbar Styles */
/*  */
/* End Navbar Styles */

.margin-left-sm {
  margin-left: 1rem;
}

/* Start Footer style */
/*  */
/* Start Footer style */
.page-container {
  position: relative;
  min-height: 100vh;
}

.navbar-logo{
  width: 15rem;
  height: auto;
}


/* End Footer Style */
/*  */
/* End Footer Style */
