<h1>New Record</h1>
<form action="/transaction" method="post">
  <table>
    <tr>
      <td>Order ID:</td>
      <td><input type="text" name="order_id" required /></td>
    </tr>
    <tr>
      <td>Product ID:</td>
      <td><input type="text" name="product_id" required /></td>
    </tr>
    <tr>
      <td>Sale Price:</td>
      <td><input type="number" name="saleprice" required /></td>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td><input type="number" name="qty" required /></td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>
