<div class="header">
    <h1 class="pageHeader">Report Menu</h1>
</div>

<p><a href="/report/cust">Customer Report</a></p>
<p><a href="/report/prod">Product Report</a></p>
<p><a href="/report/sale">Sale Report</a></p>