<h1>New Record</h1>
<form action="/product" method="post">
  <table>
    <tr>
      <td>Product Name:</td>
      <td><input type="text" name="productname" required /></td>
    </tr>
    <tr>
      <td>Image:</td>
      <td><input type="text" name="prodimage" required /></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>
        <textarea
          name="description"
          rows="10"
          cols="30"
          placeholder="Description"
        ></textarea>
      </td>
    </tr>
    <tr>
      <td>Supplier ID:</td>
      <td><input type="number" name="supplier_id" required /></td>
    </tr>
    <tr>
      <td>Category ID:</td>
      <td><input type="number" name="category_id" required /></td>
    </tr>
    <tr>
      <td>Dimensions:</td>
      <td><input type="text" name="dimensions" required /></td>
    </tr>
    <tr>
      <td>Wattage:</td>
      <td><input type="text" name="wattage" required /></td>
    </tr>
    <tr>
      <td>Cell Efficiency:</td>
      <td><input type="text" name="cell_efficiency" required /></td>
    </tr>
    <tr>
      <td>Weight:</td>
      <td><input type="text" name="weight" required /></td>
    </tr>
    <tr>
      <td>Power Tolerance:</td>
      <td><input type="text" name="power_tolerance" required /></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input type="text" name="prodprice" required /></td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>
        <select name="status" required>
          <option selected disabled>Choose Status</option>
          <option>Available</option>
          <option>Discontinued</option>
          <option>Future Plan</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td><input type="text" name="quantity" required /></td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>
