<h1>New Record</h1>
<form action="/supplier" method="post">
  <table>
    <tr>
      <td>Supplier Name:</td>
      <td><input type="text" name="suppliername" required /></td>
    </tr>
    <tr>
      <td>Point of Contact:</td>
      <td><input type="number" name="pointofcontact" required /></td>
    </tr>
    <tr>
      <td>Weburl:</td>
      <td><input type="number" name="weburl" required /></td>
    </tr>
    <tr>
      <td>Supplier Notes:</td>
      <td><input type="text" name="suppliernotes" required /></td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>
