<h1>New Customer</h1>
<form action="/customer" method="post">
  <table>
    <tr>
      <td>First Name:</td>
      <td><input type="text" name="firstname" required /></td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input type="text" name="lastname" required /></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        <input type="text" name="email" required />
      </td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><input type="text" name="phone" required /></td>
    </tr>
    <tr>
      <td>Address Line 1:</td>
      <td><input type="text" name="address1" required /></td>
    </tr>
    <tr>
      <td>Address Line 2:</td>
      <td><input type="text" name="address2" /></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><input type="text" name="city" required /></td>
    </tr>
    <tr>
      <td>State:</td>
      <td><input type="text" name="state" required /></td>
    </tr>
    <tr>
      <td>Zip:</td>
      <td><input type="text" name="zip" required /></td>
    </tr>
    <tr>
      <td>Username:</td>
      <td><input type="text" name="username" required /></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="text" name="password" required /></td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>
